
.component-part{
    height: calc(100vh - 56px);
}

.h1-wrap {
    background-color: #383838;
    padding: 2rem;
    width: 100vw;
}
h1 {
    margin: 0;
}
.item-list {
    overflow-y: auto;
    padding: 1rem 2rem;
}
.item-part-api {
    padding: 1rem;
    display: flex;
    max-width: calc(100vw - 300px);
    width: 100%;
    top: 5rem;
    position: absolute;
    overflow: auto;
}